output/
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.c
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
ppCLASS.xcodeproj/project.xcworkspace
ppCLASS.xcodeproj/xcshareddata
ppCLASS.xcodeproj/xcuserdata
include/tmp
python/classy.cpp
.ipynb_checkpoints/*
python/cclassy.pxd
python/faulty_figs
.ipynb_checkpoints
CLASS.xcodeproj/project.xcworkspace/xcuserdata
CLASS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CLASS.xcodeproj/xcshareddata/xcschemes/CLASS.xcscheme
classy.cpp
classy_community.egg-info/
dist/
*.so
*.ipynb
*.bak
*.bat
notebooks/
CLASS.xcodeproj/xcuserdata/
main/class.c
cclassy.pxd

# Symlinks for local in-source development (created by: mkdir -p classy && ln -sf ../bbn classy/bbn && ln -sf ../hyrec classy/hyrec)
classy/
classy_community_ref.egg-info/
.worktrees/
